* {
  box-sizing: border-box;
}

.weHaveAvailabilityFr {
  width: 312px;
  height: 22px;
  line-height: 22px;
  letter-spacing: 0;
  color: #323232;
  font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
