* {
  box-sizing: border-box;
}

.frame2147229107 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 208px;
  width: 1071px;
  height: 120px;

  .frame2147229106 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    width: 310px;

    .group1000004368 {
      width: 219px;
      height: 49px;
    }

    .labels {
      display: flex;
      align-items: center;
      margin: 27px 0px 0px;
      width: 372px;
      height: 89px;
      line-height: 22px;
      letter-spacing: 0;
      color: #121212;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }

  .fRameExtra {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    padding-left: 1px;
    width: 179px;
    height: 250px;
    overflow: hidden;

    .fRameExtraText {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: -1px;
      margin-right: -49px;
      padding-right: 147px;
      height: 23px;
      overflow: hidden;

      .labels2 {
        line-height: 23px;
        letter-spacing: 0;
        color: #121212;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }
    }

    .fRame {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 15px;
      margin-right: -49px;
      padding-bottom: 78px;
      overflow: hidden;

      .labels3 {
        line-height: 23px;
        letter-spacing: 0;
        color: #121212;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .fRameExtraText2 {
        display: flex;
        align-items: center;
        align-self: stretch;
        padding-right: 185px;
        height: 23px;
        overflow: hidden;
      }

      .fRameExtraText3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 13px;
        padding-right: 83px;
        height: 23px;
        overflow: hidden;
      }

      .fRameExtraText4 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 15px;
        padding-right: 178px;
        height: 23px;
        overflow: hidden;
      }

      .fRameExtraText5 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 15px;
        padding-right: 191px;
        height: 23px;
        overflow: hidden;
      }
    }
  }

  .frame2147229104 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    row-gap: 68px;

    .frame2147229103 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 18px;

      .labels4 {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 23px;
        letter-spacing: 0;
        color: #121212;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .frame2147229101 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 30px;

        .fRameframe {
          flex-shrink: 0;
          width: 19px;
          height: 19px;
          overflow: hidden;
        }
      }
    }

    .frame2147229100 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 3px;

      .labels5 {
        margin: 0px 0px 0px -1px;
        line-height: 23px;
        letter-spacing: 0;
        color: #121212;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .fRameExtraText6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        padding-right: 32px;
        height: 23px;
        overflow: hidden;
      }

      .fRameExtraText7 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        padding-right: 60px;
        height: 23px;
        overflow: hidden;
      }
    }
  }
}
