* {
  box-sizing: border-box;
}

.group1321317786 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #000000;
  padding: 75px 57px 76px 62px;
  width: 1366px;
  height: 1265px;

  .frame2147229085 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-right: 321px;
    margin-left: 317px;
    row-gap: 15px;

    .testimonials {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 38px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 32px;
    }

    .inRecordTimeHeading2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 589px;
      height: 120px;
      line-height: 66px;
      letter-spacing: -1.92px;
      color: #ffffff;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 70px;
      font-weight: 600;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 77px;
    padding-right: 0;
    padding-left: 0;

    .imageNnf7W7YyEsnth0B {
      border-radius: 32px;
      width: 54px;
      height: 48px;
      overflow: hidden;
    }

    .coFounderCeoAtRosebu {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      width: 214px;
      height: 21px;
      line-height: 24px;
      letter-spacing: 0.14px;
      color: #121212;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .chrysBaderChrysBader {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      width: 214px;
      height: 23px;
      line-height: 24px;
      letter-spacing: 0.16px;
      color: #121212;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 600;
    }

    .frame2147229086 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-right: 51px;
      height: 48px;
    }

    .border {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 186px;
      border: 1px solid #e5e5e5;
      background: #ffffff;
      padding: 31px 31px 31px 27px;

      .namyaWasVeryPatientP {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 4px;
        padding: 7px 6px 1px 0px;

        .fromOurVeryFirstConv {
          display: flex;
          align-items: center;
          margin: 0px 0px 0px 1px;
          width: 323px;
          height: 335px;
          line-height: 24px;
          letter-spacing: 0.16px;
          color: #121212;
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .thankYouWouldDefinit {
          display: flex;
          align-items: center;
          margin: 42px 0px 0px;
          width: 316px;
          height: 23px;
          line-height: 24px;
          letter-spacing: 0.16px;
          color: #121212;
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .svg20929506343485 {
        margin-top: 35px;
        width: 107px;
        height: 21px;
        overflow: hidden;
      }

      .frame400 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 29px;
        margin-left: 4px;
        min-width: 329px;
        height: 48px;
      }
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-left: 30px;

      .svg209295063434852 {
        margin-top: -2px;
        width: 98px;
        height: 21px;
        overflow: hidden;
      }

      .border2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 1px;
        margin-left: 1px;
        border: 1px solid #e5e5e5;
        background: #ffffff;
        padding: 30px 33px 35px 31px;

        .weApproachedDaperzTo {
          display: flex;
          align-items: center;
          width: 326px;
          height: 227px;
          line-height: 24px;
          letter-spacing: 0.16px;
          color: #121212;
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .frame401Svg {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin: 20px 229px 0px 1px;
          padding-bottom: 2px;
          height: 21px;
        }

        .frame4002 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 31px;
          margin-left: 1px;
          padding-right: 1px;
          padding-bottom: 3px;
          height: 48px;

          .imageNnf7W7YyEsnth0B2 {
            margin-top: -2px;
            border-radius: 32px;
            width: 52px;
            height: 48px;
            overflow: hidden;
          }

          .frame21472290862 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: -2px;
            margin-left: 12px;
            padding-right: 49px;
            height: 48px;
          }
        }
      }

      .frame2147229297 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        margin: 34px 1px 0px;
        background: #ffffff;
        padding-right: 31px;
        padding-left: 30px;
        height: 414px;
        row-gap: 24px;

        .whatImpressedUsTheMo {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          width: 332px;
          height: 229px;
          line-height: 24px;
          letter-spacing: 0.16px;
          color: #121212;
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }

        .frame401Svg2 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 234px;
          padding-bottom: 2px;
          height: 21px;
        }

        .frame4003 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-bottom: 3px;
          height: 48px;

          .imageNnf7W7YyEsnth0B3 {
            margin-top: -2px;
            border-radius: 32px;
            width: 57px;
            height: 48px;
            overflow: hidden;
          }

          .frame21472290863 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-top: -2px;
            margin-left: 7px;
            padding-right: 54px;
            height: 48px;
          }
        }
      }
    }

    .border3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 189px;
      margin-left: 37px;
      border: 1px solid #e5e5e5;
      background: #ffffff;
      padding: 31px 29px 32px;

      .namyaWasVeryPatientP2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-left: 4px;
        padding-top: 1px;
        padding-right: 6px;
        height: 372px;

        .asAYoungStartupWithL {
          display: flex;
          align-items: center;
          width: 323px;
          height: 419px;
          line-height: 24px;
          letter-spacing: 0.16px;
          color: #121212;
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }

      .svg209295063434853 {
        margin-top: 74px;
        width: 107px;
        height: 22px;
        overflow: hidden;
      }

      .frame4004 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 25px;
        margin-left: 4px;
        min-width: 329px;
        height: 48px;
      }
    }
  }
}
