* {
  box-sizing: border-box;
}

.frame2147229193 {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-right: 7px;
  width: 1273px;
  height: 936px;

  .jackle {
    display: flex;
    position: absolute;
    top: 236px;
    left: 36px;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 14px;
    line-height: 0;
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .frame2147229070 {
    display: flex;
    position: absolute;
    top: 823px;
    left: 409px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 449px;
    height: 113px;
    row-gap: 13px;

    .inRecordTimeHeading2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      width: 449px;
      height: 28px;
      line-height: 20px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
    }

    .inRecordTimeHeading22 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 417px;
      height: 72px;
      line-height: 39px;
      letter-spacing: -1.14px;
      color: #ffffff;
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 42px;
      font-weight: 600;
    }
  }

  .pngwingCom141 {
    position: absolute;
    top: 106px;
    left: 962px;
    width: 72px;
    height: 72px;
  }

  .pngwingCom161 {
    position: absolute;
    top: 690px;
    left: 853px;
    width: 88px;
    height: 23px;
  }

  .pngwingCom211 {
    position: absolute;
    top: 547px;
    left: 1193px;
    width: 80px;
    height: 59px;
  }

  .pngwingCom13 {
    position: absolute;
    top: 387px;
    left: 935px;
    width: 115px;
    height: 61px;
  }

  .autoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 242px;

    .rectangle5596 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      padding: 7px 4px 19px 36px;
      background-image: linear-gradient(180deg, #00000000 0%, #00000033 74.74%),
        url(../image/mebownvv-achafzf.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 2px 48px #0000002e);

      .pngwingCom201 {
        margin-left: 70px;
        width: 87px;
        height: 31px;
      }

      .stiffenRod {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 198px 0px 0px;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .rectangle5597 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 31px;
      background-color: #d9d9d9;
      padding: 11px 36px 32px 15px;
      background-image: url(../image/mebownvw-2mbn7a5.png),
        url(../image/mebownvw-u0dwwsi.png);
      background-position: center, center;
      background-size: cover, cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 2px 48px #0000002e);

      .pngwingCom191 {
        width: 89px;
        height: 15px;
      }

      .chieChen {
        margin: 211px 0px 0px 21px;
        width: 125px;
        text-align: center;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .autoWrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    z-index: 1;
    margin-top: 110px;
    margin-left: 30px;

    .rectangle5598 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      background-color: #d9d9d9;
      padding: 9px 9px 19px 36px;
      background-image: url(../image/mebownvv-yk5pr87.png),
        url(../image/mebownvv-73vk6jg.png), url(../image/mebownvv-qdi17eh.png),
        url(../image/mebownvv-uvwo83k.png);
      background-position: center, center, center, center;
      background-size: cover, cover, cover, cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 2px 48px #0000002e);

      .pngwingCom202 {
        margin-left: 53px;
        width: 99px;
        height: 35px;
      }

      .karsonVer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 192px 0px 0px;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .rectangle5599 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 29px;
      background-color: #d9d9d9;
      padding: 13px 12px 18px 36px;
      background-image: url(../image/mebownvw-yrr0fik.png),
        url(../image/mebownvv-a0yw6qu.png);
      background-position: center, center;
      background-size: cover, cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 2px 48px #0000002e);

      .pngwingCom151 {
        margin-left: 77px;
        width: 72px;
        height: 25px;
      }

      .elenaBrooks {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 176px 0px 0px;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .autoWrapper2 {
      position: relative;
      margin-top: 25px;
      width: 197px;
      height: 257px;

      .rectangle5600 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        padding: 218px 59px 26px 13px;
        width: 197px;
        height: 257px;
        background-image: url(../image/mebownvv-ivf4fv9.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 48px #0000002e);

        .sunileHawker {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125px;
          height: 14px;
          line-height: 0;
          letter-spacing: 0;
          color: #ffffff;
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .pngwingCom181 {
        position: absolute;
        top: -8px;
        left: 0;
        width: 138px;
        height: 73px;
      }
    }
  }

  .autoWrapper4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-left: 29px;

    .rectangle5601 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-right: 1px;
      margin-left: 1px;
      padding: 18px 116px 20px 21px;
      background-image: linear-gradient(
          180deg,
          #000000a3 0%,
          #00000000 49.93%,
          #000000cc 100%
        ),
        url(../image/mebownvv-eetgpj3.png);
      background-position: -79px 0px;
      background-size: 143.91% 189.97%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 2px 48px #0000002e);

      .pngwingCom121 {
        width: 121px;
        height: 29px;
      }

      .richardS {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 258px 0px 0px 96px;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .rectangle5612 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 24px 1px 0px;
      padding: 9px 116px 26px 10px;
      background-image: linear-gradient(
          180deg,
          #00000033 18.82%,
          #00000000 50.19%,
          #00000033 81.2%
        ),
        url(../image/mebownvv-ejvjnw5.png);
      background-position: -93px 0px;
      background-size: 151.96% 99.27%;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 2px 48px #0000002e);

      .pngwingCom131 {
        width: 110px;
        height: 52px;
      }

      .jhonLera {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 317px 0px 0px 107px;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .autoWrapper8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    z-index: 2;
    margin-top: 110px;
    margin-left: 30px;

    .autoWrapper5 {
      position: relative;
      width: 197px;
      height: 269px;

      .rectangle5604 {
        position: absolute;
        top: 0;
        left: 0;
        width: 197px;
        height: 269px;
        rotate: -180deg;
        background-image: linear-gradient(
            180deg,
            #00000000 47.09%,
            #00000033 76.58%
          ),
          url(../image/mebownvw-dpadre7.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 48px #0000002e);
      }
    }

    .autoWrapper6 {
      position: relative;
      margin-top: 29px;
      width: 197px;
      height: 246px;

      .rectangle5606 {
        position: absolute;
        top: 0;
        left: 0;
        width: 197px;
        height: 246px;
        rotate: -180deg;
        background-image: linear-gradient(
            180deg,
            #00000000 38.72%,
            #00000033 68%
          ),
          url(../image/mebownvw-ba8fb57.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 48px #0000002e);
      }

      .danielCho {
        display: flex;
        position: absolute;
        top: 207px;
        left: 36px;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .autoWrapper7 {
      position: relative;
      margin-top: 25px;
      width: 197px;
      height: 257px;

      .rectangle5605 {
        position: absolute;
        top: 0;
        left: 0;
        width: 197px;
        height: 257px;
        rotate: -180deg;
      }

      .aklanMan {
        display: flex;
        position: absolute;
        top: 224px;
        left: 57px;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .autoWrapper11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 242px;
    margin-left: 30px;

    .autoWrapper9 {
      position: relative;
      width: 197px;
      height: 269px;

      .rectangle5603 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #d9d9d9;
        width: 197px;
        height: 269px;
        rotate: -180deg;
        background-image: linear-gradient(
            180deg,
            #00000033 0%,
            #00000000 40.62%,
            #00000033 75.35%
          ),
          url(../image/mebownvv-vataqaa.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 48px #0000002e);
      }

      .pngwingCom171 {
        position: absolute;
        top: 9px;
        left: 12px;
        width: 73px;
        height: 41px;
      }
    }

    .autoWrapper10 {
      position: relative;
      margin-top: 31px;
      width: 197px;
      height: 269px;

      .rectangle5607 {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #d9d9d9;
        width: 197px;
        height: 269px;
        rotate: -180deg;
        background-image: linear-gradient(
            177.98deg,
            #00000033 1.13%,
            #00000000 49.49%,
            #00000033 80.43%
          ),
          url(../image/mebownvv-4zb3yl5.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: drop-shadow(0px 2px 48px #0000002e);
      }

      .youchan {
        display: flex;
        position: absolute;
        top: 237px;
        left: 36px;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 14px;
        line-height: 0;
        letter-spacing: 0;
        color: #ffffff;
        font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
