* {
  box-sizing: border-box;
}

.frame2147229084 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1266px;
  height: 658px;
  row-gap: 24px;

  .weSpeakRoiHeading4We {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 30px;
    letter-spacing: 0;
    color: var(--Foundation-Grey-grey-700, #242424);
    font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  .frame2147229234 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .speedIsNothingWithou {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      width: 358px;
      height: 61px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Foundation-Grey-grey-400, #5c5c5c);
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }

  .frame2147229082 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 24px;

    .subscriptionOrOneOff {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      width: 358px;
      height: 42px;
      line-height: 30px;
      letter-spacing: 0;
      color: var(--Foundation-Grey-grey-700, #242424);
      font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 24px;
      font-weight: 500;
    }

    .frame2147228498 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 4px;
      padding: 24px;
      overflow: hidden;
      background-image: linear-gradient(180deg, #f4f4f4 0%, #fffdf0 195.78%);

      .svg16916490681961 {
        position: relative;
        flex-shrink: 0;
        width: 90px;
        height: 90px;
        overflow: hidden;

        .vector2 {
          display: flex;
          position: absolute;
          top: 1px;
          left: 1px;
          align-items: center;
          border-radius: 50%;
          padding: 4px;
          width: 89px;
          height: 89px;

          .vector {
            border-radius: 50%;
            background: var(--Foundation-Grey-grey-50, #ebebeb);
            width: 82px;
            height: 82px;
          }
        }

        .pngwingCom61 {
          position: absolute;
          top: 25px;
          left: 24px;
          width: 42px;
          height: 40px;
          rotate: -180deg;
        }
      }
    }

    .frame2147228499 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 4px;
      padding: 24px;
      overflow: hidden;
      background-image: linear-gradient(180deg, #f4f4f4 0%, #fffdf0 195.78%);

      .vector4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 268px;
        padding: 4px;
        overflow: hidden;

        .vector3 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 50%;
          background: var(--Foundation-Grey-grey-50, #ebebeb);
          padding: 20px;

          .pngwingCom71 {
            width: 42px;
            height: 42px;
          }
        }
      }

      .frame2147229235 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .scaleUpOrDownOnDeman {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 304px;
          height: 61px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Foundation-Grey-grey-400, #5c5c5c);
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .frame2147228500 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 4px;
      padding: 24px;
      background-image: linear-gradient(180deg, #f4f4f4 0%, #fffdf0 195.78%);

      .vector6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 268px;
        padding: 4px;
        overflow: hidden;

        .vector5 {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          border-radius: 50%;
          background: var(--Foundation-Grey-grey-50, #ebebeb);
          padding: 22px 18px 20px 20px;

          .pngwingCom81 {
            width: 44px;
            height: 40px;
          }
        }
      }

      .frame2147229236 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .weMeetDailyBetweenMe {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 316px;
          height: 61px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Foundation-Grey-grey-400, #5c5c5c);
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }
  }

  .frame2147229083 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 24px;

    .frame2147228501 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 4px;
      padding: 24px;
      overflow: hidden;
      background-image: linear-gradient(180deg, #f4f4f4 0%, #fffdf0 195.78%);

      .vector8 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 268px;
        padding: 4px;
        overflow: hidden;

        .vector7 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 50%;
          background: var(--Foundation-Grey-grey-50, #ebebeb);
          padding: 21px 17px 20px;

          .pngwingCom91 {
            width: 48px;
            height: 41px;
          }
        }
      }

      .frame2147229231 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .mostAgenciesFocusOnV {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 330px;
          height: 61px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Foundation-Grey-grey-400, #5c5c5c);
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }

    .frame21472284992 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 4px;
      padding: 24px;
      overflow: hidden;
      background-image: linear-gradient(180deg, #f4f4f4 0%, #fffdf0 195.78%);

      .vector10 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 268px;
        padding: 4px;
        overflow: hidden;

        .vector9 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 50%;
          background: var(--Foundation-Grey-grey-50, #ebebeb);
          padding: 18px 19px 17px;

          .pngwingCom101 {
            width: 44px;
            height: 47px;
          }
        }
      }
    }

    .frame21472284982 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 4px;
      padding: 24px;
      overflow: hidden;
      background-image: linear-gradient(180deg, #f4f4f4 0%, #fffdf0 195.78%);

      .vector12 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 268px;
        padding: 4px;
        overflow: hidden;

        .vector11 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 50%;
          background: var(--Foundation-Grey-grey-50, #ebebeb);
          padding: 21px 20px 20px;

          .pngwingCom111 {
            width: 42px;
            height: 41px;
          }
        }
      }

      .frame2147229233 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .unlikeOtherAgenciesT {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 323px;
          height: 61px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Foundation-Grey-grey-400, #5c5c5c);
          font-family: "Clash Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
        }
      }
    }
  }
}
